@media (min-width: 769px) {
  #section_1 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    padding: 2rem;
    margin: 2rem;
  }
  #section_2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    padding: 2rem;
    margin: 2rem;
  }
}
